.row{

    display: grid;
    
    grid-template-columns:5fr 2fr ;
}
/* @media screen and (max-width:500px) {
    .row{
        
        display: grid;
    
        grid-template-columns:1fr ;
        
        
    }
    
}
@media screen and (min-width:5002px) {
    .row{
        
        display: grid;
    
        grid-template-columns:5fr 2fr ;
        
    }
    
} */
